<nav class="navbar navbar-expand-lg navbar-dark bg-verde-oscuro" th:fragment="menu" id="navegacion">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="serviciosDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Servicios hoy
            </a>
            <div class="dropdown-menu" aria-labelledby="serviciosDropdown">
                <a class="dropdown-item" href="servicio1.html">Desayuno Actual</a>
                <a class="dropdown-item" href="servicio2.html">Almuerzo Actual</a>
                <a class="dropdown-item" href="servicio2.html">Cena Actual</a>
                <!-- Puedes agregar más elementos según sea necesario -->
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="contactoDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gestion de datos
            </a>
            <div class="dropdown-menu" aria-labelledby="contactoDropdown">
                <a class="dropdown-item" href="correo.html">Lista de personas</a>
                <a class="dropdown-item" href="telefono.html">Lista de subensiones</a>
                <a class="dropdown-item" href="telefono.html">Consultas</a>
                <!-- Puedes agregar más elementos según sea necesario -->
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" th:href="@{/seleccionBuscador}">Entrada</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" th:href="@{/seleccionReserva}">Comedor</a>
        </li>
    </ul>
</nav>