<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>TAHUAMANU S.A. </title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
		integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
	<!-- Estilos de DataTables CSS -->
	<link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css">

        <!--botones para tabla-->
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.7.1/css/buttons.dataTables.min.css">
	<style>
		.prin {
			background-image: url(../images/sliderr.jpg);
			/* Reemplaza 'ruta-de-tu-imagen.jpg' con la ruta real de tu imagen */
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			min-height: 100vh;
			color: white;
			/* Cambia el color del texto según tus necesidades para que sea legible en la imagen */
		}
        
        .bg-verde-oscuro {
            background-color: #006400; /* Cambia el código de color según tu preferencia */
        }
		/* Estilos personalizados van aquí */
	</style>
</head>

<body class="bg-light text-dark tracking-wider leading-normal prin">
    <nav th:replace="~{layout/menu :: menu}"></nav>
	<!-- Contenedor principal -->
	<div class="container-fluid">

		<div class="mt-2" style="text-align: center; background-color: rgba(238, 241, 240, 0.89); border-radius: 10px;">
			<h1 class="flex items-center font-sans font-bold break-normal px-2 py-8 text-xl md:text-2xl"
				style="color: rgb(14, 129, 47);">
				TAHUAMANU S.A. - 
			</h1>
		</div>
		<div class="row mx-2 mt-2">

			<!-- Div central de 3 columnas para los números -->
			<div class="col-md-5">
				<!-- Contenido de los números -->
                
                <div class="card">
                    <div class="card-body">
                        <div th:class="'alert alert-' + (${clase != null} ? ${clase} : info)"
                            role="alert" th:if="${mensaje != null}">
                            <h4 class="alert-body" th:text="${mensaje}"></h4>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                            
                            <h4 class="header-title">FORMULARIO</h4>
                            <div class="form-group row">
                                <div class="form-group col-md-7">
                                    <label for="seccion">Personas:</label>
                                    <select class="form-control" th:field="${reserva.persona}" id="selectorPersonas" onchange="actualizarDatosTabla()" required>
                                        <option value="" selected>Seleccionar...</option>
                                        <option th:each="p:${personas}"
                                            th:value="${p.id_persona}"
                                            th:text="${p.nombre}">-</option>
                                    </select>
                                </div>
                                
                                <!--<div class="form-group col-md-4">
                                    <label for="codigo">Cantidad:</label>
                                    <input type="number" min="1" value="1" th:field="${reserva.cantidad}" required>
                                </div>-->
                            </div>
                        
                    </div>
                </div>
			</div>

			<!-- Div más amplio de 9 columnas para la tabla -->
			<div class="col-md-7 mx-auto">
				<!-- Contenido de la tabla -->
                <div id='recipients'>
                    <div class="p-3 mt-6 lg:mt-0 rounded shadow bg-white">
                        <form th:action="@{/guardarReservasAll}" method="get">
                            <input class="form-control" type="text" value="Desayuno">
                            <input class="form-control" type="text" value="Almuerzo">
                            <input class="form-control" type="text" value="Cena">
                            <table class="table table-bordered dt-responsive nowrap"
                                style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr style="font-size: 12px;">
                                        <th id="nombrePersona" data-priority="1">Nombres</th>
                                        <th data-priority="3">Dias</th>
                                        <th data-priority="4">Subvension</th>
                                        <th data-priority="5">Estado</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr  style="font-size: 12px; text-align: center;">
                                        <td >Nombre</td>
                                            Nombre de la persona
                                        </td>
                                        <td>
                                            <select class="form-control" th:field="${reserva.dias}" required>
                                                <option th:each="d:${dias}"
                                                    th:value="${d.id_dia}"
                                                    th:text="${d.fecha_formateada}">-</option>
                                            </select>
                                        </td>    
                                        <td>
                                            <select class="form-control" th:field="${reserva.Subvension}" required>
                                                <option value="" selected>Seleccionar...</option>
                                                <option th:each="s:${subvensiones}"
                                                    th:value="${s.id_subvension}"
                                                    th:text="${s.porcentaje}">-</option>
                                            </select>
                                        </td>
                                        <td>
                                            <select class="form-control" th:field="${reserva.estados}" required>
                                                <option th:each="e:${estados}"
                                                    th:value="${e.id_estado}"
                                                    th:text="${e.nombre_estado}">-</option>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
				
			</div>

		</div>
		<!-- /Filas -->

	</div>
	
	<!-- /Contenedor principal -->

	<!-- Scripts de Bootstrap y jQuery -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script>
        function actualizarDatosTabla() {
            // Obtener el valor seleccionado en el selector de personas
            //var idPersona = document.getElementById("selectorPersonas").value;
            var idPersona = document.getElementById("selectorPersonas").value;
            console.log("ID Persona seleccionado: " + idPersona);
    
            //var url = "/obtenerDatosPersona?id=" + idPersona;
            //console.log("URL de la solicitud AJAX: " + url);
    
            // Realizar una petición AJAX para obtener los datos de la persona seleccionada
            $.ajax({
                type: "GET",
                url: "/obtenerDatosPersona?id=" + idPersona, // Reemplaza esta URL con la ruta de tu controlador para obtener los datos de la persona
                success: function (data) {
                    // Actualizar el contenido del primer td con los datos de la persona
                    document.getElementById("nombrePersona").innerText = data.nombre;
                    //document.getElementById("apellidoPersona").innerText = data.apellido;
                    //document.getElementById("edadPersona").innerText = data.edad;
                },
                error: function () {
                    // Manejar el error si la petición AJAX falla
                    alert("Error al cargar los datos de la persona");
                }
            });
        }
    </script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<!-- Scripts de DataTables -->
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

	<script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js"></script>
	<script src="https://cdn.datatables.net/responsive/2.5.0/js/responsive.bootstrap4.min.js"></script>

    <!--para botones en la tabla-->
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.7.1/js/dataTables.buttons.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.html5.min.js"></script>
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/buttons/1.7.1/js/buttons.print.min.js"></script>

	

</body>

</html>