<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TAHUAMANU S.A.</title>
    <link rel="stylesheet" href="css/estilos.css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        .prin {
            background-image: url(../images/carro.jpg); /* Reemplaza 'ruta-de-tu-imagen.jpg' con la ruta real de tu imagen */
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 90vh;
            color: white; /* Cambia el color del texto según tus necesidades para que sea legible en la imagen */
        }
    </style>
</head>
<body class="prin">
    <div style="text-align: center; margin-top: 60px;">
        <h1 style="color: rgb(255, 255, 255); font-size: 50px;"><strong>SISTEMA DE RESERVA DE COMEDOR TAHUAMANU S.A.</strong></h1>
    </div>
    
    <div class="container" style="margin-top: 40px;">
        <th:block th:each="tr:${tipoReservas}">
            <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                <div class="card">
                    <th:block th:if="${tr.id_tipo_reserva==1}">
                        <img src="../images/img1.jpg">
                    </th:block>
                    <th:block th:if="${tr.id_tipo_reserva==2}">
                        <img src="../images/img2.jpg">
                    </th:block>
                    <th:block th:if="${tr.id_tipo_reserva==3}">
                        <img src="../images/img3.jpg">
                    </th:block>
                    <h4 th:text="${tr.id_tipo_reserva+'. '+tr.nombre_tipo_reserva}"  style="color: black;">Naturaleza</h4>
                    <th:block th:if="${tr.id_tipo_reserva==1}">
                        <p style="color: black;">Desayuno subvensionado por la empresa Tahuamanu S.A.</p>
                    </th:block>
                    <th:block th:if="${tr.id_tipo_reserva==2}">
                        <p style="color: black;">Almuerzo subvensionado al 50% por la empresa Tahuamanu S.A.</p>
                    </th:block>
                    <th:block th:if="${tr.id_tipo_reserva==3}">
                        <p style="color: black;">Cena subvensionado al 50% por la empresa Tahuamanu S.A.</p>
                    </th:block>
                    
                    <button class="btn btn-primary btn-lg" th:onclick="redirigir([[${tr.id_tipo_reserva}]])" style="color: azure;">Ingresar</button>

                    <script>
                        function redirigir(idTipoReserva) {
                            window.location.href = '/buscadorPersona?idTipoReserva=' + encodeURIComponent(idTipoReserva);
                        }
                    </script>
                </div>
            </div>
                
        </th:block>
    </div>
    
</body>
</html>